.container{
    background-color: yellow;
    justify-content: space-around;
    display: flex;
    margin: auto;
    align-items: center;

}

.list{
    width: 100% ;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}